DB_USERNAME=root
DB_PASSWORD=Root@12345
DB_NAME=bus_booking_db
DB_HOST=127.0.0.1
DB_DIALECT=mysql
PORT=3000
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
